"*":
  "atom-beautify":
    _analyticsUserId: "9df960d8-9f3e-4876-b989-9685b178bb3f"
    general:
      _analyticsUserId: "b9ef1124-b3a5-4b5c-a882-b593bb8edb55"
  "atom-ctags":
    autoBuildTagsWhenActive: true
    cmd: "ctags"
    cmdArgs: "-R --exclude=.git --exclude=log --exclude=app/assets --exclude=vendor --exclude=node_modules"
  "autocomplete-ruby":
    rsensePath: "/usr/local/opt/rbenv/shims/rsense"
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
      ]
      "source.json": [
        ".arcconfig"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
      "jshint"
      "linter-jshint"
      "rails-transporter"
      "linter-rubocop"
      "symbols-view"
      "vim-mode-plus"
    ]
    followSymlinks: false
    hideGitIgnoredFiles: true
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    telemetryConsent: "limited"
    themes: [
      "spacegray-dark-ui"
      "one-spacegrey-syntax"
    ]
  editor:
    fontFamily: "Menlo"
    fontSize: 15
    invisibles: {}
    showIndentGuide: true
    softWrapAtPreferredLineLength: true
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  linter: {}
  "linter-eslint":
    useGlobalEslint: true
  "linter-jshint":
    executablePath: "/usr/local/bin/jshint"
  "linter-rubocop":
    command: "/usr/local/opt/rbenv/shims/rubocop"
  "linter-ui-default":
    showPanel: true
  nuclide:
    "nuclide-arcanist": {}
    "nuclide-buck-files": {}
    "nuclide-clang-atom": {}
    "nuclide-console": {}
    "nuclide-datatip": {}
    "nuclide-debugger-hhvm": {}
    "nuclide-flow": {}
    "nuclide-format-js": {}
    "nuclide-hack": {}
    "nuclide-health": {}
    "nuclide-home":
      showHome: false
    "nuclide-ios-simulator-logs": {}
    "nuclide-ocaml": {}
    "nuclide-python": {}
    "nuclide-react-native": {}
    "nuclide-working-sets": {}
  "release-notes":
    viewedVersion: "0.89.0"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  welcome:
    showOnStartup: false
